* {
    padding: 0;
    margin: 0;
    font-size: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    -webkit-app-region: drag;
    overflow: hidden;
}

.window-header {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.header-large {
    height: 70px;
}

.header-small {
    height: 45px;
}

.window-header h1 {
    color: #4078c0;
    font-size: 2.5em;
    position: absolute;
    top: 2px;
    left: 5px;
}

#window-content {
    padding: 8px;
    width: auto;;
    height: 100%;
}

.window-header h4 {
    color: #4078c0;
    font-size: 1.5em;
    position: absolute;
    top: 4px;
    left: 5px;
}

button,
.list li a {
    -webkit-app-region: no-drag;
}

#menu {
    position: absolute;
    top: 3px;
    right: 5px;
}

#menu li {
    display: inline;
}

#menu button,
#menu button:active {
    background: transparent;
    border: none;
    color: #4078c0;
    font-size: 0.9em;
    font-weight: bold;
}

#menu button:hover {
    color: #e74c3c;
}

.list li a,
.list li a:active {
    color: #4078c0;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9em;
    cursor: pointer;
    margin-bottom: 3px;
}

.list li a:hover {
    color: #e74c3c;
}